<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/css/flaticon.css">
<link rel="stylesheet" href="/css/nicks.css" type="text/css">

</head>
  <body>
      


<!-- /* style start  NN */ -->
<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .mySlides {
        display: none;
    }
</style>
<!--style end  NN  -->

<body>
    <!-- Navbar NN -->
    <div class="w3-top">
        <div class="w3-bar w3-pink w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right "
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-purple">HOME</a>
            <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-indigo">BAND</a>
            <a href="#Albums" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-cyan">Albums</a>
            <a href="#History" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-aqua">History</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-padding-large w3-button w3-hover-teal" title="More">
                    MORE <i class="fa fa-caret-down"></i>
                </button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="#" class="w3-bar-item w3-button  w3-hover-teal">Members</a>
                    <a href="#" class="w3-bar-item w3-button  w3-hover-teal">Chat</a>
                    <a href="#" class="w3-bar-item w3-button  w3-hover-teal">Forum</a>
                </div>
            </div>
            <a href="#Nick"
                class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-right w3-hover-black">Nicholas
                Nwanochie</a>
        </div>
    </div>
    <!-- navbar end NN -->

    <!-- Navbar on small screens NN -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="#band" class="w3-bar-item w3-button w3-padding-large">BAND</a>
        <a href="#Chat" class="w3-bar-item w3-button w3-padding-large">Chat</a>
        <a href="#Forum" class="w3-bar-item w3-button w3-padding-large">Forum</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Nicholas Nwanochie</a>
    </div>

    <!--page content NN -->

    <div class="w3-content" style="max-width:2000px;margin-top:46px">
        <!-- main container start NN -->

        <!-- Slideshow Images NN -->

        <!-- code for Californication img animation NN -->
        <div class="mySlides w3-display-container w3-center glow  ">
            <img width="100%" height="400px" src="/images/artwork/cc.jpg" alt="" />
            <div class=" w3-container w3-text-white w3-padding-36 w3-hide-small background-img">
                <h3 class="w3-animate-top" style="color: white; font-size: xx-large; ; font-family: fantasy;">
                    Californication
                </h3>
                <!-- has in line css style NN -->
                <p class="w3-animate-top w3-display-middle" style="color: white; font-size: xx-large; ; font-family: fantasy;">

                    <!-- image container start NN -->
                    <b>
                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot1.jpg" alt="" />


                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot2.jpg" alt="" />

                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot3.jpg" alt="" />

                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot4.jpg" alt="" /></b>
                    <!-- image container end NN -->

                </p>
                <p class="w3-animate-top" style="color: white; font-size: xx-large; ; font-family: fantasy;">
                    <b>June 8, 1999</b>
                </p>
            </div>
        </div>

        <!-- code for Stadium Arcadium img animation NN -->
        <div class="mySlides w3-display-container w3-center glow ">
            <img width="100%" height="400px" src="/images/artwork/stadium.jpg" style="width:100%" />
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
                <h3 class="w3-animate-top Arcadium">
                    Stadium Arcadium
                </h3>
                <!-- has in line css style NN -->
                <p class="w3-animate-top Arcadium">

                    <!-- image container start NN -->
                    <b>
                        <!-- image for band member -->
                        <img class="glow pics" src="/images/artwork/redhot1.jpg" alt="" />


                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot2.jpg" alt="" />

                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot3.jpg" alt="" />

                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot4.jpg" alt="" /></b>
                    <!-- image container end NN -->
                </p>
                <p class="w3-animate-top Arcadium">
                    <b>May 9, 2006</b>
                </p>
            </div>
        </div>

        <!-- code for I'm with You img animation NN -->
        <div class="mySlides w3-display-container w3-center glow ">
            <img width="100%" height="400px" src="/images/artwork/withyou.jpg" style="width:100%" />
            <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small ">
                <h3 class="w3-animate-top withyou">
                    I'm with You
                </h3>
                <!-- has in line css style NN -->
                <p class="w3-animate-top withyou">

                    <!-- image container start NN -->
                    <b>
                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot1.jpg" alt="" />


                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot2.jpg" alt="" />

                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot3.jpg" alt="" />

                        <!-- image for band member NN -->
                        <img class="glow pics" src="/images/artwork/redhot4.jpg" alt="" /></b>
                    <!-- image container end NN -->
                </p>
                <p class="w3-animate-top withyou">
                    <b>August 29, 2011</b>
                </p>
            </div>
        </div>

        <!-- The Red Hot Section NN -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
            <h2 class="w3-wide">THE Red Hot Chilli Peppers</h2>
            <p class="w3-opacity"><i>With the birds I'll share this lonely view. </i></p>
            <p class="w3-justify test ">
                Made in Los Angeles in 1983, the Red Hot Chilli Peppers have become an icon in the genre on funk rock.
                From their humble beggings playing for local events
                they have reached such heights as to become one of the highest selling bands of all time with over 80
                million albums sold.
                All this before the age of digital music sales! With members ever changing, face that have been on tour
                around the globe have been
                vocalist Anthony Kiedis, bassist Flea, drummer Chad Smith, and gurtarist John Frusciante. Being inducted
                in the Rock Hall Of Fame,
                they have made music for all moods and with their ongoing tours will make more for the years to come.


            </p>
            <div class="w3-row w3-padding-32">
                <div class="w3-third">
                    <p></p>

                </div>
                <div class="w3-third">
                    <p></p>

                </div>
                <div class="w3-third">
                    <p></p>

                </div>
            </div>
        </div>

        <!--  Section nn -->

        <div class="row w3-black">
            <div class="col-lg-3 col-sm-6">
                <div class="" id="tour">
                    <div class="w3-container w3-content w3-padding-64 " style="max-width:800px">


                        <div class="about-single-counter">
                            <div class="counter-icon">
                                <i class="flaticon-008-tactics-2"></i>
                            </div>
                            <div class="counter-text">
                                <span id="value" class="w3-wide w3-center tick ">0</span>


                                <span>

                                    <h2 class="tick"><span>Tours</span>
                                        <i class="flaticon-global"></i>
                                    </h2>



                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-3 col-sm-6">
                <div class="" id="tour">
                    <div class="w3-container w3-content w3-padding-64 " style="max-width:800px">


                        <div class="about-single-counter">
                            <div class="counter-icon">
                                <i class="flaticon-008-tactics-2"></i>
                            </div>
                            <div class="counter-text">
                                <span id="value1" class="w3-wide w3-center tick ">0</span>


                                <span>

                                    <h2 class="tick"><span>Members</span>
                                        <i class="flaticon-band"></i>
                                    </h2>



                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<div class="col-lg-3 col-sm-6">
    <div class="" id="tour">
        <div class="w3-container w3-content w3-padding-64 " style="max-width:800px">


            <div class="about-single-counter">
                <div class="counter-icon">
                    <i class="flaticon-008-tactics-2"></i>
                </div>
                <div class="counter-text">
                    <span id="value2" class="w3-wide w3-center tick ">0</span>


                    <span>

                        <h2 class="tick"><span>Number 1 singles</span>
                            <i class="flaticon-first"></i>
                        </h2>



                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 col-sm-6">
    <div class="" id="tour">
        <div class="w3-container w3-content w3-padding-64 " style="max-width:800px">


            <div class="about-single-counter">
                <div class="counter-icon">
                    <i class="flaticon-008-tactics-2"></i>
                </div>
                <div class="counter-text">
                    <span id="value3" class="w3-wide w3-center tick ">0</span>


                    <span>

                        <h2 class="tick"><span>Awards</span>
                            <i class="flaticon-goal"></i>
                        </h2>



                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

        </div>






    </div>
    </div>
    </div>





    <div class="row w3-black">
        <div class="col-lg-4 col-sm-6  ">

<div class="w3-content w3-section w3-animate-right" style="max-width:500px">
    <img class="mySlides1 glow1" src="/images/artwork/morehot2.jpg" style="width:100%">
    <img class="mySlides1 glow1" src="/images/artwork/stadium.jpg" style="width:100%">
    <img class="mySlides1 glow1" src="/images/artwork/morehot3.jpg" style="width:100%">
</div>

        
    </div>
    
        <div class="col-lg-4 col-sm-6 ">
            
            <div class="w3-content w3-section w3-animate-left" style="max-width:500px">
                <img class="mySlides2 glow1" src="/images/artwork/cc.jpg" style="width:100%">
                <img class="mySlides2 glow1" src="/images/artwork/morehot1.jpg" style="width:100%">
                <img class="mySlides2 glow1" src="/images/artwork/withyou.jpg" style="width:100%">
            </div>
        
            
        </div>

            <div class="col-lg-4 col-sm-6">
                
                <div class="w3-content w3-section w3-animate-top" style="max-width:500px">
                    <img class="mySlides3 glow1" src="/images/artwork/morehot2.jpg" style="width:100%">
                    <img class="mySlides3 glow1" src="/images/artwork/cc.jpg" style="width:100%">
                    <img class="mySlides3 glow1" src="/images/artwork/morehot6.jpg" style="width:100%">
                </div>
            
            </div>

    <div class="col-lg-4 col-sm-6">
        
        <div class="w3-content w3-section w3-animate-right" style="max-width:500px">
            <img class="mySlides4 glow1" src="/images/artwork/morehot3.jpg" style="width:100%">
            <img class="mySlides4 glow1" src="/images/artwork/morehot5.jpg" style="width:100%">
            <img class="mySlides4 glow1" src="/images/artwork/withyou.jpg" style="width:100%">
        </div>
    
        
    </div>

        <div class="col-lg-4 col-sm-6">
            
            <div class="w3-content w3-section w3-animate-top" style="max-width:500px">
                <img class="mySlides5 glow1" src="/images/artwork/morehot5.jpg" style="width:100%">
                <img class="mySlides5 glow1" src="/images/artwork/stadium.jpg" style="width:100%">
                <img class="mySlides5 glow1" src="/images/artwork/morehot1.jpg" style="width:100%">
            </div>
        
        </div>

            <div class="col-lg-4 col-sm-6">
                
                <div class="w3-content w3-section w3-animate-left" style="max-width:500px">
                    <img class="mySlides6 glow1" src="/images/artwork/cc.jpg" style="width:100%">
                    <img class="mySlides6 glow1" src="/images/artwork/withyou.jpg" style="width:100%">
                    <img class="mySlides6 glow1" src="/images/artwork/withyou.jpg" style="width:100%">
                </div>
            
              
            </div>


    </div>
    
    
    
    
    
    
    </div>
    </div>
    </div>







<!-- <div class="row w3-green">
    <div id="ticketModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">


            <header class="w3-container w3-teal w3-center w3-padding-32">
                <span onclick="document.getElementById('ticketModal').style.display='none'"
                    class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                <h2 class="w3-wide">
                    <i class="fa fa-suitcase w3-margin-right"></i>
                </h2>
            </header>
            <div class="w3-container">
                <p>
                    <label><i class="fa fa-shopping-cart"></i>
                    </label>
                </p>

                <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">
                    <i class="fa fa-check"></i>
                </button>
                <button class="w3-button w3-red w3-section"
                    onclick="document.getElementById('ticketModal').style.display='none'">
                    <i class="fa fa-remove"></i>
                </button>
                <p class="w3-right">
                    <a href="#" class="w3-text-blue">?</a>
                </p>
            </div>
        </div>
    </div>
</div> -->

    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2 class="w3-wide w3-center"></h2>
        <p class="w3-opacity w3-center"><i>!</i></p>
        <div class="w3-row w3-padding-32">



            <div class="w3-col m6">

            </div>
        </div>
    </div>

    <!--  Page Content end NN-->
    </div>
    <!-- main container end NN -->




    <!-- Footer NN -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">

    </footer>
    <!-- Footer NN -->









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>

        ////
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1;
            }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 4000);
        }
////
 var myIndex1 = 0;
    carousel1();

    function carousel1() {
        var i1;
        var x1 = document.getElementsByClassName("mySlides1");
        for (i1 = 0; i1 < x1.length; i1++) {
            x1[i1].style.display = "none";
        }
        myIndex1++;
        if (myIndex1 > x1.length) { myIndex1 = 1 }
        x1[myIndex1 - 1].style.display = "block";
        setTimeout(carousel1, 4000); // Change image every 2 seconds
    }
  ////////////
    var myIndex2 = 0;
    carousel2();

    function carousel2() {
        var i2;
        var x2 = document.getElementsByClassName("mySlides2");
        for (i2 = 0; i2 < x2.length; i2++) {
            x2[i2].style.display = "none";
        }
        myIndex2++;
        if (myIndex2 > x2.length) { myIndex2 = 1 }
        x2[myIndex2 - 1].style.display = "block";
        setTimeout(carousel2, 6000); // Change image every 2 seconds
    }


//////////
        var myIndex3 = 0;
        carousel3();

        function carousel3() {
            var i3;
            var x3 = document.getElementsByClassName("mySlides3");
            for (i3 = 0; i3 < x3.length; i3++) {
                x3[i3].style.display = "none";
            }
            myIndex3++;
            if (myIndex3 > x3.length) { myIndex3 = 1 }
            x3[myIndex3 - 1].style.display = "block";
            setTimeout(carousel3, 9000); // Change image every 2 seconds
        }


//////////

        var myIndex4 = 0;
        carousel4();

        function carousel4() {
            var i4;
            var x4 = document.getElementsByClassName("mySlides4");
            for (i4 = 0; i4 < x4.length; i4++) {
                x4[i4].style.display = "none";
            }
            myIndex4++;
            if (myIndex4 > x4.length) { myIndex4 = 1 }
            x4[myIndex4 - 1].style.display = "block";
            setTimeout(carousel4, 7200); // Change image every 2 seconds
        }


//////////

        var myIndex5 = 0;
        carousel5();

        function carousel5() {
            var i5;
            var x5 = document.getElementsByClassName("mySlides5");
            for (i5 = 0; i5 < x5.length; i5++) {
                x5[i5].style.display = "none";
            }
            myIndex5++;
            if (myIndex5 > x5.length) { myIndex5 = 1 }
            x5[myIndex5 - 1].style.display = "block";
            setTimeout(carousel5, 5500); // Change image every 2 seconds
        }


//////////


        var myIndex6 = 0;
        carousel6();

        function carousel6() {
            var i6;
            var x6 = document.getElementsByClassName("mySlides6");
            for (i6 = 0; i6 < x6.length; i6++) {
                x6[i6].style.display = "none";
            }
            myIndex6++;
            if (myIndex6 > x6.length) { myIndex6 = 1 }
            x6[myIndex6 - 1].style.display = "block";
            setTimeout(carousel6, 3000); // Change image every 2 seconds
        }


//////////


        var valueElement = document.getElementById('value');

        var start = 0;
        var end = 17;
        var duration = 17000; // In milliseconds (divide by 1000 to get seconds).
        var framerate = 1000;    // In milliseconds (divide by 1000 to get seconds).

        var toAdd = ((end - start) * framerate) / duration;

        var interval = setInterval(function () {
            var currentValue = parseFloat(valueElement.innerHTML);

            if (currentValue >= end) {
                clearInterval(interval);
                return;
            }

            valueElement.innerHTML = (!isNaN(currentValue) == true ? currentValue + toAdd : toAdd);
        }, framerate);
////


         var valueElement1 = document.getElementById('value1');

        var start = 0;
        var end1 = 4;
        var duration1 = 400; // In milliseconds (divide by 1000 to get seconds).
        var framerate1 = 300;    // In milliseconds (divide by 1000 to get seconds).

        var toAdd1 = ((end1 - start) * framerate1) / duration1;

        var interval1 = setInterval(function () {
            var currentValue1 = parseFloat(valueElement1.innerHTML);

            if (currentValue1 >= end1) {
                clearInterval(interval1);
                return;
            }

            valueElement2.innerHTML = (!isNaN(currentValue1) == true ? currentValue1 + toAdd1 : toAdd1);
        }, framerate1);
//////
    var valueElement2 = document.getElementById('value2');

    var start = 0;
    var end2 = 12;
    var duration2 = 2000; // In milliseconds (divide by 1000 to get seconds).
    var framerate2 = 1000;    // In milliseconds (divide by 1000 to get seconds).

    var toAdd2 = ((end2 - start) * framerate2) / duration2;

    var interval2 = setInterval(function () {
        var currentValue2 = parseFloat(valueElement2.innerHTML);

        if (currentValue2 >= end2) {
            clearInterval(interval2);
            return;
        }

        valueElement2.innerHTML = (!isNaN(currentValue2) == true ? currentValue2 + toAdd2 : toAdd2);
    }, framerate2);
    ////
     var valueElement3 = document.getElementById('value3');

        var start = 0;
        var end3 = 25;
        var duration3 = 25000; // In milliseconds (divide by 1000 to get seconds).
        var framerate3 = 1000;    // In milliseconds (divide by 1000 to get seconds).

        var toAdd3 = ((end3 - start) * framerate3) / duration3;

        var interval3 = setInterval(function () {
            var currentValue3 = parseFloat(valueElement3.innerHTML);

            if (currentValue3 >= end3) {
                clearInterval(interval3);
                return;
            }

            valueElement3.innerHTML = (!isNaN(currentValue3) == true ? currentValue3 + toAdd3 : toAdd3);
        }, framerate3);
    </script>
</body>
</html>







<!-- code for Californication img animation NN -->
<!-- <div class="mySlides w3-display-container w3-center glow  ">
    <img width="100%" height="400px" src="/images/artwork/cc.jpg" alt="" />
    <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3 class="w3-animate-top" style="color: white; font-size: xx-large; ; font-family: fantasy;">
            Californication
        </h3> -->
        <!-- has in line css style NN -->
        <!-- <p class="w3-animate-top" style="color: white; font-size: xx-large; ; font-family: fantasy;"> -->

            <!-- image container start NN -->
            <b>
                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot1.jpg" alt="" /> -->


                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot2.jpg" alt="" /> -->

                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot3.jpg" alt="" /> -->

                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot4.jpg" alt="" /></b> -->
            <!-- image container end NN -->

        <!-- </p>
        <p class="w3-animate-top" style="color: white; font-size: xx-large; ; font-family: fantasy;">
            <b>June 8, 1999</b>
        </p>
    </div>
</div> -->

<!-- code for Stadium Arcadium img animation NN -->
<!-- <div class="mySlides w3-display-container w3-center glow ">
    <img width="100%" height="400px" src="/images/artwork/stadium.jpg" style="width:100%" />
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h3 class="w3-animate-top Arcadium">
            Stadium Arcadium
        </h3> -->
        <!-- has in line css style NN -->
        <!-- <p class="w3-animate-top Arcadium"> -->

            <!-- image container start NN -->
            <b>
                <!-- image for band member -->
                <!-- <img class="glow pics" src="/images/artwork/redhot1.jpg" alt="" /> -->


                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot2.jpg" alt="" /> -->

                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot3.jpg" alt="" /> -->

                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot4.jpg" alt="" /></b> -->
            <!-- image container end NN -->
        <!-- </p>
        <p class="w3-animate-top Arcadium">
            <b>May 9, 2006</b>
        </p>
    </div>
</div> -->

<!-- code for I'm with You img animation NN -->
<!-- <div class="mySlides w3-display-container w3-center glow ">
    <img width="100%" height="400px" src="/images/artwork/withyou.jpg" style="width:100%" />
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small ">
        <h3 class="w3-animate-top withyou">
            I'm with You
        </h3> -->
        <!-- has in line css style NN -->
        <!-- <p class="w3-animate-top withyou"> -->

            <!-- image container start NN -->
            <!-- <b> -->
                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot1.jpg" alt="" /> -->


                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot2.jpg" alt="" /> -->

                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot3.jpg" alt="" /> -->

                <!-- image for band member NN -->
                <!-- <img class="glow pics" src="/images/artwork/redhot4.jpg" alt="" /></b> -->
            <!-- image container end NN -->
        <!-- </p>
        <p class="w3-animate-top withyou">
            <b>August 29, 2011</b>
        </p>
    </div>
</div> -->